body{
    margin: 0;
    box-sizing: border-box;
    padding-top: 48px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 14px;
    color: rgb(60, 60, 60);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    color: #1a73e8;
    text-decoration: none;
}

.main-nav, .footer-nav{
    display: flex;
    align-items: center;
}

.main-nav ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.footer-nav ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.main-nav li, .footer-nav li{
    padding: 0px 15px 0px;
    display: flex;
    align-items: center;
}

.em-brief-info{
    background-color: #1a73e8;
    color: white;
    padding: 20px 24px 19px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.em-brief-info > a{
    color: rgb(39, 7, 181);
    text-decoration: underline;
}

.em-main-info{
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    padding: 10% 5%;
    flex-wrap: wrap;
}


.em-main-info > div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.em-main-info-pic{
    justify-self: center;
    align-self: center;
    width: 60%;
}

.big-topic{
    font-size: 4rem;
    margin: 0;
}

.em-func{
    padding: 5% 2%;
}

.em-func-pic{
    width: 95%;
}

.em-func h1{
    font-size: 3rem;
    margin: 10px 0;
}

.em-func h2{
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.em-func button{
    width: 100px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.container-content{
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-content{
    background-color: rgb(130, 148, 162);
    width: 49%;
    height: 150px;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.em-main-info-button{
    width: 180px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}

.main-logo-pic{
    position: relative;
    top: 2px;
    height: 45px;
    padding-left: 20px;
}

.icon-in-nav-frame{
    width: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-in-nav{
    width: 34px;
}

.search-bar{
    background-color: rgb(236, 236, 236);
    display: flex;
    align-items: center;
    color: rgb(135, 135, 135);
    width: 200px;
    height: 38px;
}

.language-switch{
    display: flex;
    align-items: center;
    border: lightgray 1px solid;
    width: 150px;
    height: 38px;
}

.border-radius-s{
    border-radius: 6px;
}

.nav-function{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-function > img, .nav-function > div{
    margin: 0 8px 0;
}

.triangle-down{
    width: 20px;
}

button{
    margin: 10px 0;
    color: rgb(255, 255, 255);
    border: 0px;
    background-color: #1a73e8;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
}

.app-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.app-box {
    flex-grow: 1;
    border: rgb(226, 226, 226) solid 1px;
    width: 16%;
    padding: 30px 20px 5px;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app-box img{
    width: 50px;
    height: 50px;
}

.app-box h2{
    font-size: 18px;
    margin: 8px 0 0;
}

.app-box p{
    font-size: 16px;
}

.section-topic{
    font-size: 3rem;
    color: #202124;
}

.section-subtopic{
    font-size: 1rem,;
    color: #202124;
    font-weight: normal;
    margin-top: -10px;
}

.dev-target-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.dev-target {
    flex-grow: 1;
    border: 1px solid lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 40%;
}

.dev-target-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dev-target p {
    margin: 0;
    font-size: 18px;
}

.dev-target img {
    max-width: 130px;
    max-height: 130px;
}

.dev-target button{
    width: 120px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.news-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 25%;
    flex-grow: 1;
    background-color: #ffffff;
}

.news-card img {
    width: 100%;
}

.news-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.bottom{
    margin-top: auto;
    width: 120px;
}

.news-section-topic{
    font-size: 32px;
    font-weight: normal;
    padding-left: 30px;
    margin-right: auto;
}

.news-info h2{
    font-weight: normal;
}

.search-icon{
    display: none;
}

.blue-backgound{
    background-color: #d6e0ed;
}

.social-media .app-box{
    align-items: flex-start;
    padding: 30px;
}

.social-media h2{
    font-size: 25px;
    font-weight: normal;
    margin: 20px 0 15px;
}

.social-media button, .translate-bar button{
    background-color: #ffffff;
    border: 1px solid lightgray;
    color: #1a73e8;
}

.translate-bar{
    color: gray;
    font-size: 14px;
}

footer hr{
    border: 0;
    border-top: 1px solid lightgray;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.footer-item{
    flex-grow: 1;
}

.footer-item ul{
    padding: 0;
}

.footer-item li{
    list-style: none;
}

.l-r-margin{
    margin: 0 30px;
}

.l-r-bar{
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.l-r-bar-l, .l-r-bar-r{
    display: flex;
    align-items: center;
}

.l-r-bar-l > *, .l-r-bar-r > *{
    margin: 5px;
}

.l-r-bar-l{
    margin-right: auto;
}

.translate-bar{
    background-color: rgb(243, 243, 243);
}

@media (max-width: 1300px) {
    .main-nav{
        display: none;
    }
    
}

@media (max-width: 850px) {
    .app-box {
        width: 40%;
    }
}

@media (max-width: 700px) {
    .app-box {
        width: 100%;
    }
    .dev-target{
        width: 100%;
    }
    .news-card{
        width: 100%;
    }
    .em-main-info > div{
        width: 100%;
    }
    .search-bar, .language-switch{
        display: none;
    }
    .search-icon{
        display: inline-block;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-nav ul{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .l-r-bar, .l-r-bar-l, .l-r-bar-r{
        flex-direction: column;
        align-items: flex-start;
    }
}

